name: Release

on:
  push:
    tags:
      - 'v*'

permissions: {}

jobs:
  release:
    name: Release
    runs-on: macos-latest
    permissions:
      contents: write # for goreleaser
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install stable toolchain for x86 linux
        uses: actions-rust-lang/setup-rust-toolchain@b598bed351cb8d159adfaa2ea4989c797082620f
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
          cache: false

      - name: Install stable toolchain for aarch64 linux
        uses: actions-rust-lang/setup-rust-toolchain@b598bed351cb8d159adfaa2ea4989c797082620f
        with:
          toolchain: stable
          target: aarch64-unknown-linux-gnu
          cache: false

      - name: Install stable toolchain for macOS
        uses: actions-rust-lang/setup-rust-toolchain@b598bed351cb8d159adfaa2ea4989c797082620f
        with:
          toolchain: stable
          target: aarch64-apple-darwin
          cache: false

      - name: Setup zig
        uses: mlugg/setup-zig@43a69a570e4827ce2166cdae5b0bbd71e335fe45
        with:
          use-cache: false

      - name: Install cargo-zigbuild
        run: cargo install --locked cargo-zigbuild

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@f3511a2bf5d6eb8da032c0ceecaa69d0dcd18623
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config=.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEPLOYMENT_ACCESS_TOKEN: ${{ secrets.DEPLOYMENT_ACCESS_TOKEN }}
