name: Release

on:
  push:
    tags:
      - 'v*'

permissions: {}

jobs:
  release:
    name: Release
    runs-on: macos-latest
    permissions:
      contents: write # for goreleaser
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install stable toolchain for x86 linux
        uses: actions-rust-lang/setup-rust-toolchain@a0b538fa0b742a6aa35d6e2c169b4bd06d225a98
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
          cache: false

      - name: Install stable toolchain for aarch64 linux
        uses: actions-rust-lang/setup-rust-toolchain@a0b538fa0b742a6aa35d6e2c169b4bd06d225a98
        with:
          toolchain: stable
          target: aarch64-unknown-linux-gnu
          cache: false

      - name: Install stable toolchain for macOS
        uses: actions-rust-lang/setup-rust-toolchain@a0b538fa0b742a6aa35d6e2c169b4bd06d225a98
        with:
          toolchain: stable
          target: aarch64-apple-darwin
          cache: false

      - name: Setup zig
        uses: mlugg/setup-zig@d1434d08867e3ee9daa34448df10607b98908d29
        with:
          use-cache: false

      - name: Install cargo-zigbuild
        run: cargo install --locked cargo-zigbuild

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@aacbb7ffbcd3454dd9de8b218645925172444cb0
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config=.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEPLOYMENT_ACCESS_TOKEN: ${{ secrets.DEPLOYMENT_ACCESS_TOKEN }}
