name: Release

on:
  push:
    tags:
      - 'v*'

permissions: {}

jobs:
  release:
    name: Release
    runs-on: macos-latest
    permissions:
      contents: write # for goreleaser
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Install stable toolchain for x86 linux
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
          cache: false

      - name: Install stable toolchain for aarch64 linux
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c
        with:
          toolchain: stable
          target: aarch64-unknown-linux-gnu
          cache: false

      - name: Install stable toolchain for macOS
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c
        with:
          toolchain: stable
          target: aarch64-apple-darwin
          cache: false

      - name: Setup zig
        uses: mlugg/setup-zig@8d6198c65fb0feaa111df26e6b467fea8345e46f
        with:
          use-cache: false

      - name: Install cargo-zigbuild
        run: cargo install --locked cargo-zigbuild

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@9c156ee8a17a598857849441385a2041ef570552
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config=.goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEPLOYMENT_ACCESS_TOKEN: ${{ secrets.DEPLOYMENT_ACCESS_TOKEN }}
