name: Security

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]
  workflow_dispatch:

permissions:       
  contents: read

jobs:
  cargo-deny:
    name: Check for security advisories (cargo-deny)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - name: Look for Rust dependencies with security advisories (cargo-deny)
        id: cargo-deny
        uses: EmbarkStudios/cargo-deny-action@76cd80eb775d7bbbd2d80292136d74d39e1b4918
        with:
          command: check advisories